<h1 align="center">Student Dashboard</h1>

<hr />

<div class="col-md-4">
    <figure>
        <a data-toggle="tooltip" title="View Grades" class="btn btn-block" href="#StudentGrades">
            <img src='Images/registration.png'  width="304" height="236" />
        </a>
        <figcaption><h1>View Grades</h1></figcaption>

    </figure>
</div>
<div class="col-md-4">
    <figure>
        <a data-toggle="tooltip" title="Update Particulars" class="btn btn-block" href="">
            <img src='Images/databackup.png'  width="304" height="236" />
        </a>
        <figcaption><h1>Update Particulars</h1></figcaption>
    </figure>
</div>