<h1 align="center">Student Dashboard</h1>

<hr />

<div class="col-md-4">
    <figure>
        <a data-toggle="tooltip" title="View Grades" class="btn btn-block" href="#StudentGrades">
            <img src='Images/viewGrades.png'  width="200" height="200" />
        </a>
        <figcaption align="center"><h1>View Grades</h1></figcaption>

    </figure>
</div>
<div class="col-md-4">
    <figure>
        <a data-toggle="tooltip" title="Update Particulars" class="btn btn-block" href="#StudentEditProfile">
            <img src='Images/updateParticulars.png'  width="200" height="200" />
        </a>
        <figcaption align="center"><h1>Update Particulars</h1></figcaption>
    </figure>
</div>
