<div class="container-fluid">
    <h2>Admin Control Panel</h2>
    <hr />
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="col-md-4">
                    <figure>
                        <a data-toggle="tooltip" title="New account creation" class="btn btn-block" href="#NewAccountCreation">
                            <img src='Images/registration.png'  width="304" height="236" />
                        </a>
                        <figcaption><h1>New account creation</h1></figcaption>

                    </figure>
                </div>
                <div class="col-md-4">
                    <figure>
                        <a data-toggle="tooltip" title="Back up data" class="btn btn-block" href="#BackUpData">
                            <img src='Images/databackup.png'  width="304" height="236" />
                        </a>
                        <figcaption><h1>Back up data</h1></figcaption>
                    </figure>
                </div>
                <!--<a href="https://github.com/NThanatos/g1_3104/archive/master.zip"><figcaption><h1>Perform Daily Backups</h1></figcaption></a>-->
                <a data-toggle="tooltip" title="Perform Daily Backup" class="btn btn-block" href="https://github.com/NThanatos/g1_3104/archive/master.zip">
                    <img src="Images/dailybackup.png" width="304" height="236" />

                </a>
                <figcaption><h1>Perform Daily Backups</h1></figcaption>

            </div>
        </div>
    </div>
</div>

