<div class="container-fluid">
    <h2>Admin Control Panel</h2>
    <hr />
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="New account creation" class="btn btn-block" href="#NewAccountCreation">
                            <img src='Images/registration.png'  width="200" height="200" />
                        </a>
                        <figcaption align="center"><h1>New account creation</h1></figcaption>

                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                       <!--<a data-toggle="tooltip" title="Back up data" class="btn btn-block" href="#BackUpData">-->
                        <a data-toggle="tooltip" title="BackUp Database" class="btn btn-block" href="https://ict3104.firebaseio.com/.json?print=pretty&format=export&download=ict3104-export.json">

                            <img src='Images/databackup.png'  width="200" height="200" />
                        </a>
                        <figcaption align="center"><h1>BackUp Database</h1></figcaption>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                        <!--<a href="https://github.com/NThanatos/g1_3104/archive/master.zip"><figcaption><h1>Perform Daily Backups</h1></figcaption></a>-->
                        <a data-toggle="tooltip" title="Perform Daily Backup" class="btn btn-block" href="https://github.com/NThanatos/g1_3104/archive/master.zip">
                            <img src="Images/dailybackup.png" width="200" height="200" />
                        </a>
                    </figure>
                    <figcaption><h1>Backup Application</h1></figcaption>
                </div>

                <div class="col-md-3">
                    <figure data-toggle="modal" data-target="#archiveModal">
                        <a data-toggle="tooltip" title="Back up data" class="btn btn-block" ng-click="archiveStudent()">
                            <img src='Images/archiveStudent.png'  width="200" height="200" />
                        </a>
                        <figcaption align="center"><h1>Archive Students</h1></figcaption>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="Back up data" class="btn btn-block" href="#ModManagement">
                            <img src='Images/module_mangament.png'  width="200" height="200" />
                        </a>
                        <figcaption align="center"><h1>Module Managment</h1></figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure>
                        <div data-toggle="tooltip" title="New account creation" class="btn btn-block" ng-click="sendRequest()">
                            <form action="/Admin/AdminDashboard" method="POST"></form>
                            <img src='Images/send_email.png'  width="200" height="200" />
                        </div>
                        <figcaption align="center"><h1>Send Reset Email</h1></figcaption>
                    </figure>
                </div>


                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="New account creation" class="btn btn-block" href="#NewCourseCreation">
                            <img src='Images/courses.png'  width="200" height="200" />
                        </a>
                        <figcaption align="center"><h1>Manage Courses</h1></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="archiveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Archive Student</h4>
            </div>
            <div class="modal-body">
                <p>Student archive complete <br>
                   {{archiveNumber}} Student has been archive</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
