<div class="container-fluid">
    <h2>Admin Control Panel</h2>
    <hr />
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="New account creation" class="btn btn-block" href="#NewAccountCreation">
                            <img src='Images/registration.png'  width="200" height="200" />
                        </a>
                        <figcaption><h1>New account creation</h1></figcaption>

                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                       <!--<a data-toggle="tooltip" title="Back up data" class="btn btn-block" href="#BackUpData">-->
                        <a data-toggle="tooltip" title="BackUp Database" class="btn btn-block" href="https://ict3104.firebaseio.com/.json?print=pretty&format=export&download=ict3104-export.json&auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE0NzkyNTk5NDgsImV4cCI6MTQ3OTI2MzU0OCwiYWRtaW4iOnRydWUsInYiOjB9.QrtxvORzFB4pBQOPVPtCt5QpdgwMRG_iqTu6-EsurFY">
                            <img src='Images/databackup.png'  width="200" height="200" />
                        </a>
                        <figcaption><h1>BackUp Database</h1></figcaption>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                        <!--<a href="https://github.com/NThanatos/g1_3104/archive/master.zip"><figcaption><h1>Perform Daily Backups</h1></figcaption></a>-->
                        <a data-toggle="tooltip" title="Perform Daily Backup" class="btn btn-block" href="https://github.com/NThanatos/g1_3104/archive/master.zip">
                            <img src="Images/dailybackup.png" width="200" height="200" />
                        </a>
                    </figure>
                    <figcaption><h1>Backup Application</h1></figcaption>
                </div>

                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="Back up data" class="btn btn-block" ng-click="archiveStudent()">
                            <img src='Images/archiveStudent.png'  width="200" height="200" />
                        </a>
                        <figcaption><h1>Archive Students</h1></figcaption>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="Back up data" class="btn btn-block" href="#ModManagement">
                            <img src='Images/module_mangament.png'  width="200" height="200" />
                        </a>
                        <figcaption><h1>Module Managment</h1></figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure>
                        <div data-toggle="tooltip" title="New account creation" class="btn btn-block" ng-click="sendRequest()">
                            <form action="/Admin/AdminDashboard" method="POST"></form>
                            <img src='Images/send_email.png'  width="200" height="200" />
                        </div>
                        <figcaption><h1>Send Reset Email</h1></figcaption>
                    </figure>
                </div>


                <div class="col-md-3">
                    <figure>
                        <a data-toggle="tooltip" title="New account creation" class="btn btn-block" href="#NewCourseCreation">
                            <img src='Images/courses.png'  width="200" height="200" />
                        </a>
                        <figcaption><h1>Manage Courses</h1></figcaption>
                    </figure>
                </div>



            </div>
        </div>
    </div>
</div>

