<h1>Add Recommendation</h1>
<form name="recommendationForm" ng-submit="addrecommend()">

    <div class="form-group">
        <label>Course: </label>
        <input type="text" class="form-control" name="coursename" ng-model="coursename" disabled>
    </div>

    <div class="form-group">
        <label ng-for="modulename">Module: </label>
        <input type="text" class="form-control" name="modulename" ng-model="modulename" disabled>
    </div>

    <div class="form-group">
        <label ng-for="studentname">Student Name: </label>
        <input type="text" class="form-control" name="studentname" ng-model="studentname" disabled>
    </div>

    <div class="form-group">
        <label ng-for="studentgrade">Student Grade: </label>
        <input type="text" class="form-control" name="studentgrade" ng-model="studentgrade" disabled>
    </div>

    <div class="form-group">
        <label ng-for="studentmark">Student Marks: </label>
        <input type="text" class="form-control" name="studentmark" ng-model="studentmark" disabled>
    </div>

    <div class="form-group">
        <label ng-for="recommendation">Recommendation: </label>
        <textarea class="form-control" name="recommendation" ng-model="recommendation" rows="5" style="resize: none"></textarea>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-default">Cancel</button>
    </div>
</form>
