<h1 align="center">Add Recommendation</h1>
<hr />

<form name="entergrade" ng-submit="submitRecommendGrade(selectedStud.id)">
    <table class="table">
        <tr class="thead-inverse">
            <th class="col-md-3">Student Name</th>
            <th class="col-md-2">Recommended Mark</th>
            <th class="col-md-2">Recommendation Text</th>
        </tr>

        <tr>
            <td><input type="hidden" ng-model="student.name">{{selectedStud.name}}</td>

            <td><input type="text" name="recommendMark" ng-model="recommendMark" required></td>
            <td><textarea name="recommendText" ng-model="recommendText" rows="5" style="resize: none" required></textarea></td>
        </tr>

        <tr>
            <td colspan="3">
                <input type='submit' value='Add Recommendation' class="btn btn-primary form-control">

                <input type='reset' value='Reset' class='btn btn-danger form-control'>
            </td>
        </tr>
    </table>

</form>