<section class="contentDiv">
    <h5>Course title here</h5>
    <table class="table table-inverse">
        <thead>
        <tr>
            <td>Student Name</td>
            <td>Grade</td>
            <td>Freeze</td>
        </tr>
        </thead>
        <tr>
            <td>Sammy</td>
            <td>B+</td>
            <td><button class="btn-danger btn-xs">freeze</button></td>
        </tr>
        <tr>
            <td>Joey</td>
            <td>D+</td>
            <td><button class="btn-danger btn-xs">freeze</button></td>
        </tr>
        <tr>
            <td>Dhina</td>
            <td>A+</td>
            <td><button class="btn-danger btn-xs">freeze</button></td>
        </tr>
        <tr>
            <td>Nicholas</td>
            <td>A+</td>
            <td><button class="btn-danger btn-xs">freeze</button></td>
        </tr>
    </table>
</section>
