<section class="contentDiv">
    <h3><strong>Head of Department : </strong> {{ProgramName}}</h3>
</section>
<div class="contentDiv" style="position: absolute; max-width: 17%;" >
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Courses
            </th>
        </tr>
        </thead>
        <tr ng-repeat="t in Courses" class="courseMenuItem" ng-class="{active:isActiveTab(t.title)}" >
            <td ng-click="onClickTab(t)"><span class="xn-text">{{t.title}}</span> </td>
        </tr>
    </table>
</div>

<div id="courseGradeTable" ng-hide="showGradeTable" ng-include="currentTab" style="width: 80%; position: relative ; float: right"></div>

<div class="ModalForms" ng-hide="editGradeForm" style="position: fixed; left:30%; top: 20%; width: 40%">
    <button style="float: right" class="btn btn-xs" ng-click="toggleeditGradeForm(editGradeFormContent)"><span class="glyphicon glyphicon-remove"></span></button>
    <hr>
            <p><strong>Name:</strong> {{editGradeFormContent.name}}</p>
            <p><strong>Current Marks:</strong> {{editGradeFormContent.marks}}</p>
            <p><strong>Recommended Mark: </strong>{{editGradeFormContent.recommendation.RecommendedMark}} </p>
    <p style="text-align: center"><strong>Recommendation</strong></p>
    <hr>
    <p style="text-align: center">{{editGradeFormContent.recommendation.message}}</p>
    <hr>
    <button class="btn-danger btn-xs" ng-click="replyRecommendation('Rejected')">Reject</button>
    <button style="float: right" class="btn-success btn-xs" ng-click="replyRecommendation('Approved')">Approve</button>

</div>
<div class="loadingMask" ng-hide="editGradeForm"></div>
<script>
    $("[data-toggle='toggle']").click(function() {
        var selector = $(this).data("target");
        $(selector).toggleClass('in');
    });
</script>