<h1 align="center">Lecturer Dashboard</h1>

<hr />

<div class="col-md-6" align="center">
    <button class="grades-button" ng-click="changeView('lect_displayModAndCrse')">
        <span class="glyphicon glyphicon-education"></span>
        <br>Student Grades
    </button>
</div>

<div class="col-md-6" align="center">
    <button class="recommend-button" ng-click="viewAllRecommendation()">
        <span class="glyphicon glyphicon-comment"></span>
        <br>Student Recommendation
    </button>
</div>

<div class="col-md-6" align="center">
    <figure>
        <a data-toggle="tooltip" title="View Students' Grades" class="btn btn-block" href="#ViewStudentGrades">
            <img src='Images/registration.png'  width="304" height="236" />
        </a>
        <figcaption><h1>View Students' Grades</h1></figcaption>

    </figure>
</div>