<h1 align="center">Lecturer Dashboard</h1>

<hr />

<div class="col-md-6" align="center">
    <button class="grades-button" ng-click="changeView('lect_displayModAndCrse')">
        <span class="glyphicon glyphicon-education"></span>
        <br>Student Grades
    </button>
</div>

<div class="col-md-6" align="center">
    <button class="particulars-button" ng-click="changeView('lect_viewStudentParticulars')">
        <span class="glyphicon glyphicon-education"></span>
        <br>View Student Particulars
    </button>
</div>

<div class="col-md-6" align="center">
    <button class="gpa-button" ng-click="changeView('ViewStudentGrades')">
        <span class="glyphicon glyphicon-education"></span>
        <br>View Students' GPA
    </button>
</div>
