<h1 align="center">Enter All Student Grades</h1>
<hr />

<form name="entergrade" ng-submit="submitGrade(studentMarks)">
    <table class="table">
        <tr class="thead-inverse">
            <th class="col-md-3">Student Name</th>
            <th class="col-md-2">Marks</th>
        </tr>

        <tr ng-repeat="student in StudentArr">
            <td><input type="hidden" ng-model="student.name">{{student.name}}</td>
            <td><input type="text" name="studentmarks" id="studentmarks" ng-model="student.marks"></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type='submit' value='Submit All Grades' class="btn btn-primary form-control">

                <input type='reset' value='Reset' class='btn btn-danger form-control'>
            </td>
        </tr>
    </table>

</form>