<h1 align="center">Lecturer Dashboard</h1>

<hr />

<div class="col-md-4">
    <img ng-click="changeView('lect_displayModAndCrse')"  src='Images/assignGrade.png'  width="200" height="200" />
    <figcaption><h1>Assign Grades</h1></figcaption>
</div>

<div class="col-md-4">
    <img ng-click="changeView('lect_viewStudentParticulars')" src='Images/updateParticulars.png'  width="200" height="200" />
    <figcaption><h1>View Student Particulars</h1></figcaption>
</div>

<div class="col-md-4">
    <img ng-click="changeView('ViewStudentGrades')" src='Images/viewGrades.png'  width="200" height="200" />
    <figcaption><h1>View Students' GPA</h1></figcaption>
</div>
