 <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar" ng-hide="hidemain">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="index.html">SMS</a>
            </li>
            <!-- navigation by role -->
            <div ng-if="userData.role=='admin'">
                <li class="xn-title">Admin</li>
                <li>
                    <a href="#AdminDashboard"><span class="fa fa-desktop"></span> <span class="xn-text">Admin dashboard</span></a>
                </li>
            </div>
            <div ng-if="userData.role=='hod'">
                <li class="xn-title">Head of Department</li>
                <li>
                    <a href="#Hod"><span class="fa fa-black-tie"></span> <span class="xn-text">HOD dashboard</span></a>
                </li>
            </div>
            <div ng-if="userData.role=='lecturer'">
                <li class="xn-title">Lecturer</li>
                <li>
                    <a href="#Lecturer"><span class="fa fa-male"></span> <span class="xn-text">Lecturer dashboard</span></a>
                </li>
            </div>
            <div ng-if="userData.role=='student'">
                <li class="xn-title">Student</li>
                <li>
                    <a href="#StudentDashboard"><span class="fa fa-male"></span> <span class="xn-text">Student Dashboard</span></a>
                </li>
            </div>
        </ul>
        <!-- END X-NAVIGATION -->
    </div>