<h1 align="center">View Student Grades</h1>
<hr />

<table>
    <tr>
        <td class="col-md-6">
            Select a course to filter:
            <select id="course" ng-model="course" ng-options = "crse as crse for crse in courses">
                <option value="" disabled>Select a course</option>
            </select>
        </td>

        <td class="col-md-6">
            Select a module to filter:
            <select id="module" ng-model="module" ng-options = "mod as mod for mod in modules">
                <option value="" disabled>Select a module</option>
            </select>
        </td>
    </tr>
</table>

<br>
<table class="table">
    <tr class="thead-inverse">
        <th class="col-md-3">Course Name</th>
        <th class="col-md-2">Module Name</th>
        <th class="col-md-2">Student Name</th>
        <th class="col-md-1">Grade</th>
        <th class="col-md-1">Marks</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-2">Actions</th>
    </tr>

    <tr ng-repeat="studentrecord in dataResultTransformed | filter:course | filter:module">
        <td>{{studentrecord.coursename}}</td>
        <td>{{studentrecord.modulename}}</td>
        <td>{{studentrecord.stuname}}</td>
        <td>{{studentrecord.stugrade}}</td>
        <td>{{studentrecord.stumarks}}</td>
        <td>{{studentrecord.publishstatus}}</td>
        <td>
            <button class="btn btn-warning"  ng-hide="(studentrecord.publishstatus == 'freeze')" ng-click="changeView('editgrade_lect')">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </td>
    </tr>
</table>