<h1 align="center">View Student Grades</h1>
<hr />

<br>

<table class="table">
    <tr class="thead-inverse">
        <th>ID</th>
        <th class="col-md-3">Course Name</th>
        <th class="col-md-2">Module Name</th>
        <th class="col-md-2">Student Name</th>
        <th class="col-md-1">Grade</th>
        <th class="col-md-1">Marks</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-2">Actions</th>
    </tr>
    <tr>
        <th>1</th>
        <th class="col-md-3">ICT</th>
        <th class="col-md-2">3104</th>
        <th class="col-md-2">John</th>
        <th class="col-md-1">A</th>
        <th class="col-md-1">90</th>
        <th class="col-md-1">Publish</th>
        <th class="col-md-2">
            <button class="btn btn-warning">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </th>
    </tr>

    <tr>
        <th>2</th>
        <th class="col-md-3">ICT</th>
        <th class="col-md-2">2103</th>
        <th class="col-md-2">Andrew</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1">New</th>
        <th class="col-md-2">
            <button class="btn btn-warning">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </th>
    </tr>
</table>