<h1 align="center">Student Recommendation</h1>
<hr/>


<br>
<table class="table">
    <tr class="table-inverse">
        <th class="col-md-2">Course</th>
        <th class="col-md-2">Module</th>
        <th class="col-md-2">Student Name</th>
        <th class="col-md-3">Recommendation Mark</th>
        <th class="col-md-3">Recommendation Text</th>
    </tr>

    <tr ng-repeat="recommendationrec in allrecommendation">
        <td>{{recommendationrec.course}}</td>
        <td>{{recommendationrec.module}}</td>
        <td>{{recommendationrec.student_name}}</td>
        <td>{{recommendationrec.student_recommended_mark}}</td>
        <td>{{recommendationrec.student_recommended_text}}</td>
    </tr>
</table>