<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>

    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.min.css">
    <link rel="stylesheet" href="style.css" />
    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-aria.min.js"></script>  <!-- Use dev version of Angular Material -->
    <script src="https://rawgit.com/angular/bower-material/master/angular-material.min.js"></script>

    <script src="script.js"></script>
</head>

<body>
<h1>Your grades</h1>
<style>

    h1{
        text-align: center;
    }
    #grades {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        th: black;
        td:black;
        text-align: center;
        padding: 30px;
        margin-left: 100px;
        width: 800px;

    }


</style>

<!--<div ng-controller="StudentCtrl">-->
<!--<p>loop here</p>-->
<!--<ul>-->
<!--<li ng-repeat="item in transferTest">{{item.Module_Code}}</li>-->
<!--<li ng-repeat="item in transferTest">{{item.Marks}}</li>-->
<!--<li ng-repeat="item in transferTest">{{item.Recommendation}}</li>-->
<!--</ul>-->
<!--</div>-->

<div ng-controller="StudentCtrl">
    <table id="grades">
        <tr style="border: 1px solid black; padding: 50px; background-color: black; color: white;">

            <td style="border: 1px solid black">Module Name</td>
            <td style="border: 1px solid black">Module Code</td>
            <td style="border: 1px solid black">Grade</td>
            <td style="border: 1px solid black">Recommendations</td>
        </tr>

        <tr ng-repeat="item in resultsArray">
            <td>{{item.Module_Name}}</td>
            <td>{{item.Module_Code}}</td>
            <td>{{item.Marks}}</td>
            <td>{{item.Recommendation}}</td>
        </tr>



    </table>
</div>



<!--<div ng-controller="StudentGradesCtrl" ng-cloak>-->
<!--<md-content class="md-padding" layout-xs="column" layout="row">-->
<!--<div flex-xs flex-gt-xs="10" layout="column">-->
<!--<md-card>-->

<!--<md-card-title>-->
<!--<md-card-title-text>-->
<!--<span class="md-headline">Your Grades</span>-->
<!--&lt;!&ndash;<span class="md-subhead">test</span>&ndash;&gt;-->

<!--<p>ICT3104</p>-->
<!--<p>Grade attained:</p>-->
<!--<h3>A+</h3>-->
<!--<h4>Recommendations:</h4>-->
<!--</md-card-title-text>-->
<!--<md-card-title-media>-->
<!--<div class="md-media-lg card-media"></div>-->
<!--</md-card-title-media>-->
<!--</md-card-title>-->
<!--&lt;!&ndash;<md-card-actions layout="row" layout-align="end center">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<md-button>Action 1</md-button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<md-button>Action 2</md-button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</md-card-actions>&ndash;&gt;-->
<!--</md-card>-->

<!--</div>-->
<!--</md-content>-->
<!--</div>-->


</body>
</html>