<h1 align="center">View Student Grades</h1>
<hr />

<div align="right">
    <button class="btn btn-primary" ng-hide="(ArrayStudent[0].status != 'New')" ng-click="changeView('lect_enterGrade')">
        Enter Grade for All Students
    </button>
</div>

<br>

<table class="table">
    <tr class="thead-inverse">
        <th>Student Name</th>
        <th>Grade</th>
        <th>Marks</th>
        <th>Recommendation</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    <!--split out the key and student so that i can pass back the student id-->
    <tr ng-repeat="(key, student) in students">
        <td>{{student.name}}</td>
        <td>{{getGrade(student.marks)}}</td>
        <td>{{student.marks}}
            <!--<button class="btn btn-warning" ng-hide="(student.status == 'New')"  ng-click="open('warning')">-->


            <button class="btn btn-warning" ng-hide="(student.status != 'Approved')"  ng-click="editPrompt($even, student.marks, key)">
                <span class="glyphicon glyphicon-edit"> Edit</span>
            </button>


        </td>
        <td>{{student.recommendation.message}}</td>
        <td>{{student.status}}</td>
        <td>
            <button class="btn btn-success" ng-show="(student.status == 'Entered')"  ng-click="addrecommend(student, key)">
                <span class="glyphicon glyphicon-plus">Add Recommendation</span>
            </button>

            <button class="btn btn-danger" ng-show="(student.status == 'Rejected')"  ng-click="changestatus(key)">
                Complete Process
            </button>
        </td>
    </tr>
</table>