<!-- Form used for updation of data into database -->
<form class="form-horizontal alert alert-warning" name="myForm" ng-submit="AddModules(module)">

    <div class="form-group">
        <label for="sel1">Select Parent Course:*</label>
        <select ng-model="module.parent" value="{{module.parent}}"  id="sel1" required>
            <option ng-repeat="detail in details" value={{detail.$id}} >{{detail.$id}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Module Code:*</label>
        <input type="text" class="form-control" ng-model="module.code" value="{{module.code}}" required>
    </div>
    <div class="form-group">
        <label>Module Title:*</label>
        <input type="text" class="form-control" ng-model="module.title" value="{{module.title}}" required>
    </div>

    <div class="form-group">
        <button class="btn btn-success" ng-disabled="!myForm.$valid" data-toggle="modal" data-target="#moduleModal">Add</button>
    </div>
</form>
